<div>
    <div ng-show="currentRental != null">

    </div>
    <h5>List of your rentals</h5>
    <table class="table table-hover">
        <tr>
            <th>Car</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Cost</th>
        </tr>
        <tr ng-repeat="rental in rentals">
            <td>{{rental.carName}}</td>
            <td>{{rental.startTime}}</td>
            <td>{{rental.endTime}}</td>
            <td>{{rental.cost}}</td>
        </tr>
    </table>
</div>