<div>
    <table class="table table-hover" ng-show="currentRentals[0] !== undefined">
        <tr>
            <th>Rented car</th>
            <th>Rent start</th>
        </tr>
        <tr ng-repeat="currentRental in currentRentals">
            <td>{{currentRental.carName}}</td>
            <td>{{currentRental.startTime}}</td>
            <td><input type="text" class="form-control" placeholder="State of counter" ng-model="retData.stateOfCounter" /></td>
            <td>
                <button class="btn btn-primary" ng-click="return(currentRental.rentalId)">Return</button>
            </td>
        </tr>
    </table>
</div>
<h4>List of your finished rentals</h4>
<table class="table table-hover">
    <tr>
        <th>Car</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Cost</th>
    </tr>
    <tr ng-repeat="rental in rentals">
        <td>{{rental.carName}}</td>
        <td>{{rental.startTime}}</td>
        <td>{{rental.endTime}}</td>
        <td>{{rental.cost}}</td>
    </tr>
</table>